body {
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	font-style: normal;
	background-color: #181818;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 22px;
	padding: 0;
	margin: 0;
}

header {
	text-align: right;
}

button {
	color: #FFC700;
	background: url("../images/icon.png") no-repeat center center transparent;
	border: none;
	width: 28px;
	height: 28px;
	cursor: pointer;
	margin: 18px 12px;
}

ul {
	list-style: none;
	padding: 27px 22px;
	margin: 0;
}

li a{
	margin-top: 23px;
	display: block;
	color: #FFFFFF;
	font-size: 16px;
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: none;
}

li a:hover {
	color: #F4CE0C;
}